# Entorno virtual
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de entorno
.python-version

# Logs
*.log

# Archivos de datos
*.parquet
*.csv
*.json

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Mac / Windows
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.swp

# Directorios comunes de salida
data/
output/
dist/
build/

# Variables de entorno
.env